$radius: 5px;

code{
  white-space: pre;
}


table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; background-color: #f8f8f8; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }

pre, code { 
  background-color: #f8f8f8; 
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 0.95em;
  overflow: auto;
  -webkit-border-radius: $radius $radius 0 0;
  -moz-border-radius: $radius $radius 0 0;
  border-radius: $radius $radius 0 0;
  line-height: 1.5em
}

figure {
  code {
    padding: 0;
  }
  figcaption {
    background: #999;
    padding: 5px 10px;
    color: #fff;
    -webkit-border-radius: 0 0 $radius $radius;
    -moz-border-radius: 0 0 $radius $radius;
    border-radius: 0 0 $radius $radius;
  }
}

code{
  padding: 0.1em;
}

pre{
  padding: 8px;
  margin-top: 1em;
}

code > span.kw { color: #204a87; font-weight: bold; }
code > span.dt { color: #204a87; }
code > span.dv { color: #0000cf; }
code > span.bn { color: #0000cf; }
code > span.fl { color: #0000cf; }
code > span.ch { color: #4e9a06; }
code > span.st { color: #4e9a06; }
code > span.co { color: #8f5902; font-style: italic; }
code > span.ot { color: #8f5902; }
code > span.al { color: #ef2929; }
code > span.fu { color: #000000; }
code > span.er { font-weight: bold; }
