<div class="post_header">
  <h1>$title$</h1>
</div>

<div id="archives">

  <div id="archive_left">

    <div class="post">
      <h3>Miscellaneous Posts</h3>
      <ul>
      $posts$
      </ul>
    </div>

    <div class="post">
      <h3>LeetCode</h3>
      <ul>
        $leetcode$
      </ul>
    </div>
    
    <div class="post">
      <h3>Topcoder</h3>
      <ul>
        $topcoder$
      </ul>
    </div>

  </div>

  <div id="archive_right">

    <div class="post">
      <h3>Travel</h3>
      <ul>
        $travel$
      </ul>
    </div>

    <div class="post">
      <h3>Restaurants</h3>
      <ul>
        $restaurants$
      </ul>
    </div>


    <div class="post">
      <h3>Reading Notes</h3>
      <ul>
        $books$
      </ul>
    </div>

    <div class="post">
      <h3>Misc</h3>
      <ul>
        $misc$
      </ul>
    </div>

    <div class="post">
      <h3>Philosophy</h3>
      <ul>
        $philosophy$
      </ul>
    </div>


    <div class="post">
      <h3>Algorithms</h3>
      <ul>
        $dev$
      </ul>
    </div>

    <div class="post">
      <h3>Codility</h3>
      <ul>
        $codility$
      </ul>
    </div>

    <div class="post">
      <h3>Project Euler</h3>
      <ul>
        $euler$
      </ul>
    </div>


  </div>

  <div class="clearfix"></div>

</div>  <!--End Archives-->
