<div class="row darkLinks" id="archives">

  <!--Left columnn-->
  <div class="col-sm-6">
    <h2>Miscellaneous Posts</h2>
    <ul>
      $posts$
    </ul>

    <h2>LeetCode</h2>
    <ul>
      $leetcode$
    </ul>

    <h2>Topcoder</h2>
    <ul>
      $topcoder$
    </ul>

  </div>

  <!--Right column-->
  <div class="col-sm-6">
    
      <h2>Monthly updates</h2>
      <ul>
        $reports$
      </ul>

      <h2>Misc</h2>
      <ul>
        $misc$
      </ul>

      <h2>Restaurants</h2>
      <ul>
        $restaurants$
      </ul>


      <h2>Travel</h2>
      <ul>
        $travel$
      </ul>

    
      <h2>Reading Notes</h2>
      <ul>
        $books$
      </ul>


      <h2>Philosophy</h2>
      <ul>
        $philosophy$
      </ul>


      <h2>Algorithms</h2>
      <ul>
        $dev$
      </ul>

      <h2>Codility</h2>
      <ul>
        $codility$
      </ul>

      <h2>Project Euler</h2>
      <ul>
        $euler$
      </ul>

  </div>

</div>  <!--End Archives-->
