<div class="row darkLinks" id="archives">

  <!--Left columnn-->
  <div class="col-sm-6">
    <h3>Miscellaneous Posts</h3>
    <ul>
      $posts$
    </ul>

      <h3>LeetCode</h3>
      <ul>
        $leetcode$
      </ul>
    
      <h3>Topcoder</h3>
      <ul>
        $topcoder$
      </ul>

  </div>

  <!--Right column-->
  <div class="col-sm-6">
      <h3>Travel</h3>
      <ul>
        $travel$
      </ul>

      <h3>Restaurants</h3>
      <ul>
        $restaurants$
      </ul>


      <h3>Reading Notes</h3>
      <ul>
        $books$
      </ul>

      <h3>Misc</h3>
      <ul>
        $misc$
      </ul>

      <h3>Philosophy</h3>
      <ul>
        $philosophy$
      </ul>


      <h3>Algorithms</h3>
      <ul>
        $dev$
      </ul>

      <h3>Codility</h3>
      <ul>
        $codility$
      </ul>

      <h3>Project Euler</h3>
      <ul>
        $euler$
      </ul>

  </div>

</div>  <!--End Archives-->
