<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Rafal's Blog - $title$</title>
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-3063106-9']);
          _gaq.push(['_trackPageview']);

          (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
           })();
       </script>

    </head>

    <body>

      <div class="container">
        <div class="top">
          <ul id="menu">
            <li><a href="/">Home</a></li>
            <li>|</li>
            <li><a href="/about.html">About</a></li>
            <li>|</li>
            <li><a href="/contact.html">Contact</a></li>
            <li>|</li>
            <li><a href="/archives.html">Archives</a></li>
          </ul>
        </div>

        <div id="content">
            $body$
        </div>

        <div id="footer" class="footer">
          <hr />
          <p><a href="/static/cv_rafal_szymanski.pdf">CV</a> |
          <a href="http://github.com/radicality">Github</a> |
          <a href="http://twitter.com/rafalszymanski">Twitter</a> |
          <a href="http://www.goodreads.com/review/list/6752954-rafal?order=d&shelf=read&sort=date_read">Goodreads</a> |
          <a href="http://uk.linkedin.com/in/szymanskirafal">LinkedIn</a> |
          <a href="http://stackoverflow.com/users/856079/rafal-szymanski">StackOverflow</a> |
          <a href="http://projecteuler.net/profile/radicality.png">ProjectEuler</a>
          </p>
        </div>

      </div>

    </body>
</html>
