<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->

        <title>$title$ – Rafal's Blog</title>
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:300,400' rel='stylesheet' type='text/css' />

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />


        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />

        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-3063106-9']);
          _gaq.push(['_trackPageview']);

          (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
           })();
       </script>

    </head>

    <body>

      <div class="navbar navbar-static-top navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">HOME</a></li>
              <li><a href="/archives.html">ARCHIVES</a></li>
              <li><a href="/projects.html">PROJECTS</a></li>
              <li><a href="/about.html">ABOUT</a></li>
              <li><a href="/contact.html">CONTACT</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="container content">
        $body$
      </div>

      <div class="footer">
        <div class="container">
          <div class="row">
            <ul>
              <li>
              <a href="http://github.com/rafalio">
                <span class="fa fa-github" />
              </a>
              </li>
              <!--<li>-->
              <!--<a href="http://uk.linkedin.com/in/szymanskirafal">-->
                <!--<span class="fa fa-linkedin square" />-->
              <!--</a>-->
              <!--</li>-->
              <li>
              <a href="http://www.goodreads.com/review/list/6752954-rafal?order=d&shelf=read&sort=date_read">
                <span class="icon-stack">
                  <i class="icon-sign-blank icon-stack-base"></i>
                  <i class="icon-light"><span style="font-family:helvetica;">g</span></i>
                </span>
              </a>
              </li>
              <li>
              <a href="http://stackoverflow.com/users/856079/rafal-szymanski">
                <span class="fa fa-stack-overflow" />
              </a>
              </li>
              <li>
              <a href="http://news.ycombinator.com/user?id=radicality">
                <span class="fa fa-hacker-news" />
              </a>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </body>
</html>
