<div class="homepage">
  <p class="post"> You have found Rafal Szymanski's blog – welcome! See <a href="/about.html">About</a> to learn more. Explore the <a href="/archives.html">Archives</a> for all that I have to offer here – reviews of restaurants, books, and teas, gourmet food photography, algorithm manuals, solutions to coding puzzles, packing guides, and more!


  <div class="row">

    <div id="popular" class="col-sm-6">
      <h3> Most popular pages </h3>

      <ul>
        <li>
          <h3><a href=#>Ultralight Travel</a></h3>
          <ul class="popularDescription">
            <li> I'm a minimalist. I traveled for 3 months around SE Asia with only a 22L backpack – I outline my packing strategy in this post. </li>
          </ul>
        </li>

        <li>
          <h3><a href=#>Algorithms Notes</a></h3>
          <ul class="popularDescription">
            <li>I like algorithms! This is some of my personal notes, but I was told it is useful to others too. It is a Work In Progress.</li>
          </ul>
        </li>

        <li>
          <h3><a href=#>Fat Duck Album</a></h3>
          <ul class="popularDescription">
            <li>I enjoy gourmet food! This post has my thoughts and pictures from when I visited "The Fat Duck", a three-Michelin starrted restaurant.</li>
          </ul>
        </li>

        <li>
          <h3><a href=#>Geranium Album</a></h3>
          <ul class="popularDescription">
            <li>Another post from </li>
          </ul>
        </li>
      </ul>
    </div>


    <div id="recent" class="col-sm-6">
      <h3> Recent Posts </h3>
      $recentPosts$
    </div>


  </div>




</div>
